*::selection   {
    background-color: rgb(255, 174, 0);
    color: white;
}
:root   {
    --font-family-oficial: "Agency FB", sans, sans-serif;
    --font-family-navegador: 'Pangolin', cursive;
    --font-family-standar: 'Josefin Sans', sans-serif;
}
p   {
    color: black;
}
body    {
    display: grid;
    width: 100vw;
    overflow-x: hidden
}
header  {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    width: 100vw;
    background-color: rgb(27, 26, 26);
    top: 0;
}
.header-dos {
    display: none;
}
figure  {
    cursor: pointer;
    height:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    align-content: center;
    color: white;
    text-align: center;
    }
.logo-img    {
    width: 120px;
    height: 100%;
}
figcaption  {
    text-align: center;
    font-family: var(--font-family-oficial);
}
.navigation {
    width: 700px;
}
.nav-ul {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 40px;
}
.ul-li  {
    display: flex;
}
.ul-li  {
    border-left: 2px solid white;
}
.link-a {
    color: white;
    padding: 4px 80px;
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: var(--font-family-oficial);
    transition: all .2s linear;
}
.ul-li:first-child {
    border-left: none;
}
.link-a:hover   {
    background-color: white;
    color: black
} 
.cards-section  {
    width: 100%;
} 
main    {
    margin-top: 18px;
    width: 100vw;
}

h2  {
    font-family: var(--font-family-standar);
    padding: 0 10px;
}
/*display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 20px;
    padding: 0 20px; */
.area-de-cursos {
    height: 350px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    grid-gap: 20px;
    overflow-y: auto;
    margin: 15px auto;
    padding: 0 30px;
}
.para-area  {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 10px 0;
    background-color: black;
    margin-top: 15px;
}
.wm-span    {
    font-weight: bolder;
    font-family: var(--font-family-navegador);
    grid-row: 6/7;    
}
/* formato de una carta en la pagina */

.card {
    border-radius: 0 0 10%;
    transition: all .3s linear;
    background-color: rgb(255, 247, 247);
    margin-top: 10px;
    margin-bottom   : 20px;
}
.card:hover {
    box-shadow: 0px 2px 8px 2px rgb(172, 169, 169);
}
.presentation-card  {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 46);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: repeat(2,50%);
}
.curso  {
    padding-top: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: var(--font-family-navegador);
    font-size: 3rem;
    grid-column: 1/3;
}
.name-academy   {
    font-family: var(--font-family-oficial);
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    font-size: 20px;
    grid-column: 2/3    ;
    grid-row: 2/3;
}
.title-description{ 
    font-size: 1.6rem;
    padding-left: 5px;
}
.para-description{  
    padding: 2px;
    font-family: "Goudy Old Style";
    font-weight: bold;
    font-size: 1.4rem;
}
.btn-description    {
    float: right;
    transform: translateX(-30px);
    background-color: #ffffff00;
    color: rgb(0, 29, 110);
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.fa-chevron-right   {
    padding-top: 5px;
    padding-left: 5px;

}
.btn-description:hover .fa-chevron-right {
    animation: chevron-rigth .8s linear infinite 
}
/* animations */
@keyframes  chevron-rigth   {
    0%      {
        transform: translateX(0);
    }
    50%     {
        transform: translate(15px);
    }
    100%    {
        transform: translate(0);
    }
}
.footer {
    display: grid;
    grid-template-columns:  repeat(3,minmax(100px,1fr));
    grid-template-rows: 100%;
    padding: 10px 5px;
    background-color: black;
}
.img-wm-blanco  {
    width: 120px;
}
.footer-name    {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: var(--font-family-oficial);
    font-size: 1.8rem;
}
.redes-sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nuestras-redes {
    color: white;
    font-family: var(--font-family-standar);
    font-size: 1.8rem;
    text-align: center;
}
.icon-ul  {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.link-social   {
    color: white;
    transition: all .2s linear;
    font-size: 1.2rem;
}
.link-social:hover  {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 1px 5px;
}
.contactanos{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.contact    {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.icon   {
    text-align: center;
}
.fa-telegram, .fa-whatsapp-square   {
    color: white;
    font-size: 1.5rem;
    transition: all .1s linear;
}
.fa-telegram:hover  {
    font-size: 1.6rem;
}
.fa-whatsapp-square:hover  {
    font-size: 1.6rem;
}
.number-one,.number-two {
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
@media  (max-width:1100px)   {
    
header  {
    display: none;
}
.header-dos {
    display: block;
    width: 100vw;
}
.figure-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: black;
    height: 200px;
    width: 100vw;
}
h1  {
    font-family: 'San', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: 900;
}
.logo-img    {
    margin-top: 20px;
    height: 80px;
    width: 180px;
} 
.fa-bars   {
    display: block;
    font-size: 2.4rem;
    margin: 1rem auto;
    /* background-color: rgb(31, 31, 30); */
}
.fa-bars-script {
    display: none;
}
 .fa-times-circle   {
    display: none;
} 
.fa-times-script    {
    display: block;
    font-size: 2.4rem;
    margin: 1rem auto;
    color: black;
}
.navigation-responsive {
    display: none;
}

.navigation-script {
    width: 100%;
    height: 180px;
    background-color: rgb(32, 32, 32);
}
.nav-ul-responsive {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.ul-li  {
    border: none;
}
.link-a   {
    color: white        ;
    padding: 10px 80px;
}
}
@media(max-width:900px) {
    .footer {
        display: grid;
        grid-template-columns:  100%;
        grid-template-rows: repeat(3,minmax(100px,1fr));;
        padding: 10px 5px;
        background-color: black;
    }   
}
@media (max-width:550px) {
    .area-de-cursos {
        height: 350px;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        grid-gap: 20px;
        overflow-y: auto;
        margin: 15px auto;
        padding: 0 30px;
    }
}
