*::selection   {
    background-color: rgb(255, 174, 0);
    color: white;
}
:root   {
    --font-family-oficial: "Agency FB", sans, sans-serif;
    --font-family-navegador: 'Pangolin', cursive;
    --font-family-standar: 'Josefin Sans', sans-serif;
}
p   {
    color: black;
}
body    {
    display: grid;
    width: 100vw;
}
.img-figure {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
}
.img-oficial    {
    max-width: 100%;
    width: 50%;
    min-width: none;
}

.title-h1   {
    text-align: center;
    font-size: 5rem;
    font-family: var(--font-family-oficial);
}
@media(max-width:600px)    {
    .img-oficial    {
        width: 100%;
    }
    .title-h1   {
        font-size: 3rem;
    }
}